# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# Env
.venv/
env/
.env

# OS
.DS_Store
Thumbs.db

# Project
.cache/

# 模型（已训练参数）
model/*.pkl

# 输出结果（每次运行都变）
output/*.json
output/*.csv
output/*.png
